$font: 'Inter';

$inputBackColor: #F7F7F8;
$inputCaretColor: #6534FF;
$placeholderColor: #C3C3C6;
$iconColor: #bdbdbd;
$iconColorHover: #6534FF;

$btnActiveBottom: #6534FF;
$btnTextColor: #97979B;
$btnTextColorActive: #000000;

$userNameSpan: #97979B;